<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>智能化数据运维-健康度监控</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
		<link rel="stylesheet" href="../../layuiadmin/style/reset.css" media="all">
	</head>
	<body>

		<div class="layui-fluid">
			<div class="layui-row">
				<div class="layui-col-sm6">
					<div class="layui-card">
						<div class="layui-card-header">告警数量与告警类对象分布图</div>
						<div class="layui-card-body">
							<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
							<div id="objectmain" style="width:100%;height:300px;"></div>
						</div>
					</div>
				</div>

				<div class="layui-col-sm6">
					<div class="layui-card">
						<div class="layui-card-header">告警数量与告警类别分布图</div>
						<div class="layui-card-body">
							<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
							<div id="classmain" style="width:100%;height:300px;"></div>
						</div>
					</div>
				</div>
				<div class="layui-col-sm12">
					<div class="layui-card">
						<div class="layui-card-body">
							<ul class="layui-row layui-form">
								<li class="layui-col-sm5">
									<div class="layui-form-item">
										<label class="layui-form-label">数据时间</label>
										<div class="layui-input-inline">
											<input type="text" class="layui-input" id="test-laydate-start" placeholder="开始日期" lay-key="1">
										</div>
										<div class="layui-form-mid">
											-
										</div>
										<div class="layui-input-inline">
											<input type="text" class="layui-input" id="test-laydate-end" placeholder="结束日期" lay-key="2">
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">指标类别</label>
										<div class="layui-input-block">
											<input type="text" name="title" required lay-verify="required" placeholder="请输入指标类别" autocomplete="off"
											 class="layui-input">
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">告警级别</label>
										<div class="layui-input-block">
											<select name="city" lay-verify="required">
												<option value=""></option>
												<option value="0">全部</option>
												<option value="1">一级</option>
												<option value="2">二级</option>
												<option value="3">三级</option>
												<option value="4">四级</option>
											</select>
										</div>
									</div>
								</li>
								<li class="layui-col-sm3">
									<div class="layui-form-item">
										<label class="layui-form-label">告警对象</label>
										<div class="layui-input-block">
											<input type="text" name="title" required lay-verify="required" placeholder="请输入告警对象" autocomplete="off"
											 class="layui-input">
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">指标大类</label>
										<div class="layui-input-block">
											<input type="text" name="title" required lay-verify="required" placeholder="请输入指标小类" autocomplete="off"
											 class="layui-input">
										</div>
									</div>
								</li>
								<li class="layui-col-sm3">
									<div class="layui-form-item">
										<label class="layui-form-label">告警状态</label>
										<div class="layui-input-block">
											<input type="text" name="title" required lay-verify="required" placeholder="请输入告警状态" autocomplete="off"
											 class="layui-input">
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">指标小类</label>
										<div class="layui-input-block">
											<input type="text" name="title" required lay-verify="required" placeholder="请输入指标大类" autocomplete="off"
											 class="layui-input">
										</div>
									</div>
								</li>
								<li class="layui-col-sm1">
									<div class="layui-form-item">
										<button class="layui-btn" lay-submit lay-filter="formDemo">查询</button>
									</div>
								</li>
							</ul>
						</div>
						<div class="layui-card-body">
							<table id="health_table" lay-filter="table"></table>
							<script type="text/html" id="toolbar">
								<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
              </script>
						</div>
					</div>
				</div>
			</div>


		</div>
		<script src="../../layuiadmin/layui/layui.js"></script>
		<script>
			layui.config({
				base: '../../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', 'jquery', 'echarts', 'laydate', 'table','layer','form'], function() {
				var $ = layui.$
				var echarts = layui.echarts;
				var laydate = layui.laydate;
				var table = layui.table;
				var layer = layui.layer;
				var form = layui.form;
				// 告警数量与告警类对象分布图 基于准备好的dom，初始化echarts实例
				var objectChart = echarts.init(document.getElementById('objectmain'));
				objectoption = {
					title: {
						text: '告警数量与告警类对象分布图',
						subtext: '',
						x: 'center'
					},
					tooltip: {
						trigger: 'item',
						formatter: "{a} <br/>{b} : {c} ({d}%)"
					},
					legend: {
						orient: 'vertical',
						left: 'left',
						data: ['环北营业c库实例1', '环北营业c库实例2', '环北营业c库实例3', '环北营业c库实例4', '环北营业c库实例5']
					},
					series: [{
						name: '访问来源',
						type: 'pie',
						radius: '55%',
						center: ['50%', '60%'],
						data: [{
								value: 335,
								name: '环北营业c库实例1'
							},
							{
								value: 310,
								name: '环北营业c库实例2'
							},
							{
								value: 234,
								name: '环北营业c库实例3'
							},
							{
								value: 135,
								name: '环北营业c库实例4'
							},
							{
								value: 1548,
								name: '环北营业c库实例5'
							}
						],
						itemStyle: {
							emphasis: {
								shadowBlur: 10,
								shadowOffsetX: 0,
								shadowColor: 'rgba(0, 0, 0, 0.5)'
							}
						}
					}]
				};
				// 使用刚指定的配置项和数据显示图表。
				objectChart.setOption(objectoption);

				// 告警数量与告警类对象分布图 基于准备好的dom，初始化echarts实例
				var classChart = echarts.init(document.getElementById('classmain'));
				classoption = {
					title: {
						text: '告警数量与告警类别分布图',
						subtext: '',
						x: 'center'
					},
					tooltip: {
						trigger: 'item',
						formatter: "{a} <br/>{b} : {c} ({d}%)"
					},
					legend: {
						orient: 'vertical',
						left: 'left',
						data: ['性能', '可用性', '错误', '变化', '可靠性']
					},
					series: [{
						name: '访问来源',
						type: 'pie',
						radius: '55%',
						center: ['50%', '60%'],
						data: [{
								value: 335,
								name: '性能'
							},
							{
								value: 310,
								name: '可用性'
							},
							{
								value: 234,
								name: '错误'
							},
							{
								value: 135,
								name: '变化'
							},
							{
								value: 1548,
								name: '可靠性'
							}
						],
						itemStyle: {
							emphasis: {
								shadowBlur: 10,
								shadowOffsetX: 0,
								shadowColor: 'rgba(0, 0, 0, 0.5)'
							}
						}
					}]
				};
				// 使用刚指定的配置项和数据显示图表。
				classChart.setOption(classoption);

				/////////////////////////////////////////////////////////
				//开始日期
				var insStart = laydate.render({
					elem: '#test-laydate-start',
					type: 'date',
					//value: '2018-04', //必须遵循format参数设定的格式
					done: function(value, date) {
						//console.log(value); 得到日期生成的值
						//console.log(date); 得到日期时间对象
						//更新结束日期的最小日期
						/* insEnd.config.min = lay.extend({}, date, {
							month: date.month - 1,
				
						}); */
						//自动弹出结束日期的选择器
						insEnd.config.elem[0].focus();
					}
				});
				//结束日期
				var insEnd = laydate.render({
					elem: '#test-laydate-end',
					type: 'date',
					//value: '2019-03', //必须遵循format参数设定的格式
					done: function(value, date) {
						//更新开始日期的最大日期
						insStart.config.max = lay.extend({}, date, {
							month: date.month - 1,

						});
					}
				});


				//表格
				table.render({
					elem: '#health_table',
					url: '../../layuiadmin/json/HealthMonitoring.json', //数据接口
					limits: [10, 25, 50], //每页条数的选择项，默认：[10,20,30,40,50,60,70,80,90]
					page: true, //开启分页
					even: true, //隔行背景
					cols: [
						[ //表头
							{
								type: 'numbers', //序号列 根据指标值排序
								title: '序号',
								unresize: true, //是否禁用拖拽列宽（默认：false）
								align: 'center'
							}, {
								field: 'DataTime',
								title: '告警数据时间',
								unresize: true, //是否禁用拖拽列宽（默认：false）
								align: 'center'
							}, {
								field: 'VerificationTime',
								title: '核查时间',
								unresize: true, //是否禁用拖拽列宽（默认：false）
								align: 'center'

							}, {
								field: 'Subclass',
								title: '指标小类',
								unresize: true, //是否禁用拖拽列宽（默认：false）
								align: 'center'
							}, {
								field: 'Level',
								title: '告警级别',
								unresize: true, //是否禁用拖拽列宽（默认：false）
								align: 'center'
							}, {
								field: 'State',
								title: '告警状态',
								unresize: true, //是否禁用拖拽列宽（默认：false）
								align: 'center'
							}, {
								field: 'Category',
								title: '指标类别',
								unresize: true, //是否禁用拖拽列宽（默认：false）
								align: 'center'
							}, {
								field: 'ReasonsForDetails',
								title: '告警原因详述',
								unresize: true, //是否禁用拖拽列宽（默认：false）
								align: 'center'
							}, {
								field: 'object',
								title: '告警对象',
								unresize: true, //是否禁用拖拽列宽（默认：false）
								align: 'center'
							}, {
								field: 'LargeClass',
								title: '指标大类',
								unresize: true, //是否禁用拖拽列宽（默认：false）
								align: 'center'
							}, {
								field: 'DataValue',
								title: '告警数据值',
								unresize: true, //是否禁用拖拽列宽（默认：false）
								align: 'center'
							}, {
								field: 'Operation',
								title: '操作',
								toolbar: '#toolbar',
								unresize: true, //是否禁用拖拽列宽（默认：false）
								align: 'center'
							}
						]
					]
				});

				//监听工具条
				table.on('tool(table)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
					var data = obj.data; //获得当前行数据
					var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
					var tr = obj.tr; //获得当前行 tr 的DOM对象

					if (layEvent === 'detail') { //查看
						layer.open({
							type: 2, //此处以iframe举例
							title: '',
							scrollbar: false, //屏蔽浏览器滚动条
							area: ['1000px', '500px'],
							offset: 'auto',
							maxmin: true,
							content: 'HealthMonitoring_detail.html',
							btn2: function() {
								layer.closeAll();
							}
						});
					} else if (layEvent === 'edit') { //编辑
					//编辑框 数据回显
					    form.val("health_table", {
                             "Subclass": data.Subclass ,
                             "Level":  data.Level,
                             "State":  data.State,
                             "Category":  data.Category,
                             "ReasonsForDetails":  data.ReasonsForDetails,
                             "Object":  data.object,
                             "LargeClass":  data.LargeClass,
                             "DataValue":  data.DataValue
                        })
						layer.open({
							type: 1,
							title: '修改',
							scrollbar: false, //屏蔽浏览器滚动条
							area: ['500px'],
							content: $('#editModal'),//这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响 
							 btn: ['确定', '取消'],
							 yes: function(index, layero){
    //按钮【确定】的回调
  }
						});
					} else if (layEvent === 'del') { //删除
						layer.confirm('真的删除行么', {title:'提示'},function(index) {
							obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
							layer.close(index);
							//向服务端发送删除指令
						});
					} 
				});
			})
		</script>
	</body>
	<div id="editModal" style="display: none;">
		<ul class="layui-form" lay-filter="health_table">
			<li class="layui-form-item">
				<label class="layui-form-label">指标小类</label>
				<div class="layui-input-block">
					<input type="text" name="Subclass" required lay-verify="required" placeholder="请输入指标小类" autocomplete="off" class="layui-input">
				</div>
			</li>
			<li class="layui-form-item">
				<label class="layui-form-label">告警级别</label>
				<div class="layui-input-block">
					<input type="text" name="Level" required lay-verify="required" placeholder="请输入告警级别" autocomplete="off" class="layui-input">
				</div>
			</li>
			<li class="layui-form-item">
				<label class="layui-form-label">告警状态</label>
				<div class="layui-input-block">
					<input type="text" name="State" required lay-verify="required" placeholder="请输入告警状态" autocomplete="off" class="layui-input">
				</div>
			</li>
			<li class="layui-form-item">
				<label class="layui-form-label">告警类别</label>
				<div class="layui-input-block">
					<input type="text" name="Category" required lay-verify="required" placeholder="请输入告警类别" autocomplete="off" class="layui-input">
				</div>
			</li>
			<li class="layui-form-item">
				<label class="layui-form-label">告警原因详述</label>
				<div class="layui-input-block">
					<input type="text" name="ReasonsForDetails" required lay-verify="required" placeholder="请输入告警原因详述" autocomplete="off"
					 class="layui-input">
				</div>
			</li>
			<li class="layui-form-item">
				<label class="layui-form-label">告警对象</label>
				<div class="layui-input-block">
					<input type="text" name="Object" required lay-verify="required" placeholder="请输入告警对象" autocomplete="off" class="layui-input">
				</div>
			</li>
			<li class="layui-form-item">
				<label class="layui-form-label">指标大类</label>
				<div class="layui-input-block">
					<input type="text" name="LargeClass" required lay-verify="required" placeholder="请输入告警对象" autocomplete="off" class="layui-input">
				</div>
			</li>
			<li class="layui-form-item">
				<label class="layui-form-label">告警数据值</label>
				<div class="layui-input-block">
					<input type="text" name="DataValue" required lay-verify="required" placeholder="请输入告警对象" autocomplete="off" class="layui-input">
				</div>
			</li>
		</ul>
	</div>
</html>
